name: settings
description: Module about settings

environment:
  sdk: '>=2.7.0 <3.0.0'

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter

dependency_overrides:
  pedantic: 1.9.0
flutter:
  uses-material-design: true
